<div class="footer">
  <div class="pull-left">
    <img src="https://s3.amazonaws.com/registration.app/backup/logo.png"/>
  </div>
  <div class="pull-right">
    <p class="text-gray text-right">
      All rights reserved. Copyright © 2014 Vogogo Inc.
      <br>
      ABOUT | CONTACT | LEGAL
    </p>
  </div>
</div>
