<div class="content">
  <div class="bg-blue">
    <br>
    <div class="text-center">
      <img src="https://s3.amazonaws.com/registration.app/backup/logo_white.png"/>
    </div>
    <div class="text-center">
      <img src="https://s3.amazonaws.com/registration.app/backup/logo_building.png"/>
    </div>
  </div>
  <h1 class="text-blue">
    come back and receive<br>
    3 FREE instance deposits<br>
    with zero fees
  </h1>
  <div class="text-center">
    <a href="" class="btn-action text-white bg-green">SIGN IN NOW</a>
  </div>
  <br>
  <p class="text-center text-gray">
    This offer is only valid until [ date: 14 days out from day sent] <br>
    Have questions? Reply to this email to contact our support team.
  </p>
</div>
